<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ asset_css('bootstrap.css') }}
    {{ asset_css('style.css')}}
    <title>最新の投稿</title>
</head>
<body>
    <header>
        <h1>最新の投稿</h1>
    </header>
    <p class="link-to-post">
        <a href="makePost">
            <img src="{{ publicPath ~ 'assets/img/link-to-post.png' }}" alt="投稿する">
        </a>
    </p>
</body>

</html>